# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets (DO NOT COMMIT)
.env
.env.*

# Supabase client config (contains keys)
supabase.js


